/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/*
MAIN STYLES
*/


body{
    background-image: linear-gradient(260deg, #2a7aae 0%, #cffecf 90%);
    background: url(https://images.unsplash.com/photo-1466786784937-3e682c802b14?dpr=1&auto=format&fit=crop&w=1500&h=1875&q=80&cs=tinysrgb&crop=&bg=);
    background-position: center right;
    font-family: 'Raleway', sans-serif;

}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 75vw;
    height: 98vh;
    /*border: 2px solid red;*/
    margin: 10px auto;
    align-items: center;
    justify-content: center;

}

header{
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    /*margin: 20px;*/
}

form {
    display: inline-block;
}

input[type="search"] {
    border: 4px solid rgba(0,0,0,.4);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    background-color: lavenderblush;
    transition: all 0.5s;
    outline: none;

}

input[type="search"]:focus {
    border: 4px solid goldenrod;
    background-color: linen;
    padding: 10px;
    width: 105%;
    font-size: 20px;
}

.move-inside{
    transform: translateX(110px);
}

.search-btn {
    position: relative;
    right: 90px;
    outline: none;

    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;

	background-color:RGBA(118, 141, 135, 0.8);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 13px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;

    transition: all 0.9s;
}


.search-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.search-btn:active {
	position:relative;
	top:2px;
}


.contents{
    overflow: scroll;
    height: 88%;
    margin-top: 20px;
    /*border: 2px double orange;*/
}

a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

form > a{
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111111;
    margin: 10px 0;
    /*border: 2px solid yellow;*/
}


.article {
    position: relative;
    padding: 20px 25px;
    /*background-color: rgba(240, 255, 240, .8);*/
    background-color: RGBA(0, 31, 63, .8);
    color: #ffffff;
    height: 150px;
    /*border-radius: 20px;*/
    overflow: hidden;
    margin: 20px 0 0 0;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    transition: all 0.5s;

}

.article:hover{
    /*border-left: 8px solid rgba(254,254,254,1);
    border-right: 8px solid rgba(254,254,254,1);*/
}

.sec-container{
    position: relative;
}

.sec-container::before,
.sec-container::after{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*height: 0%;*/
    /*width: 8px;*/
    /*background: red;*/
    height: 100%;
    transition: all 0.3s;

}

.sec-container:hover:after{
    border-right: 8px solid white;
    /*border-top: 8px solid white;*/
}

.sec-container:hover:before{
    border-left: 8px solid white;
    /*border-bottom: 8px solid red;*/
}

.sec-container:hover::before,
.sec-container:hover::after{
    /*height: 100%;*/

}


.article h2{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
}

p.description {
    display: inline-block;
    padding-bottom: 10px;
}
