/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/*
MAIN STYLES
*/

body{
    background-image: linear-gradient(260deg, #2a7aae 0%, #cffecf 90%);
    background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?dpr=1&auto=format&fit=crop&w=1199&h=1108&q=80&cs=tinysrgb&crop=&bg=);
    font-family: 'Raleway', sans-serif;

}

.container{
    display: flex;
    width: 90vw;
    height: 95vh;
    border: 2px solid red;
    margin: 10px auto;
    align-items: center;
    justify-content: center;

}

header{
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

form {
    display: inline-block;
}

input[type="search"] {
    border: 4px solid rgba(0,0,0,.4);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    background-color: lavenderblush;
    transition: all 0.5s;
    outline: none;

}

input[type="search"]:focus {
    border: 4px solid goldenrod;
    background-color: linen;
    padding: 10px;
    width: 105%;
    font-size: 20px;
}

.move-inside{
    transform: translateX(120px);
}

.search-btn {
    position: relative;
    right: 90px;
    outline: none;

    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;

	background-color:RGBA(118, 141, 135, 0.6);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 13px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;

    transition: all 0.9s;
}


.search-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.search-btn:active {
	position:relative;
	top:2px;
}


@keyframes shiftToSide {
    0%{
        transform: translateX(-70px);
        opacity: 0.4;
    }
    10%{
        transform: translateX(-80px);
        opacity: 1;
    }
    90%{
        transform: translateX(35px);
    }
    100%{
        transform: translateX(30px);
    }

}
